body{
    margin: 0;
    padding: 0;
}
/*styling the header*/
header{
    background: url(../imgs/cover.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
}
/*end header*/
/*Navbar*/
.navcontainer{
    padding: 0;
    margin: 0;
    background: #202020;
}
.navlist{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlist li{
    display: inline-block;
    padding: 12px 10px;
    transition: all ease-in-out .2s;
}
.navlist li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Times';
}
.home{
    padding-left: 40px;
}
/*home icon in the navbar*/
.fa-home{
    color: white;
    font-size: 25px;
    position: absolute;
    margin: 15px;
    cursor: pointer;
}
.navlist .nav-item:hover{/*hover effect in the navbar*/
    background-color: #e62f11;
    cursor: pointer;
}
/*Search box styling*/
.search-item{
    float: right;
    margin-right: 50px;
}
.search-txt{
    margin-right: 0;
    border: none;
    padding: 3px 5px;
}
.search-btn{
    margin-left: 0;
    background: white;
    border: none;
    margin: 0;
    border: none;
    position: absolute;
    padding: 3px 5px;
}
/*End navbar*/

/*The main body of the site*/
.sitebody{
    background-color: #F7F9F5;
    background-size: cover;
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    position: absolute;
}

/*Posts*/
.container{
    padding: 0;
    margin: 0;
}
.our-team{
    padding: 20px;
    text-align: center;
    position: relative;
    background: white;
    padding-bottom: 30px;
}
.post-tit{
    font-family: auto;
    border-bottom: 1px solid;
    width: 350px;
    margin: auto;
    margin-bottom: 20px; 
}
.post-list{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.post-list li{
    display: inline-block;
    padding: 20px;
    background: white;
    margin: 5px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15),
                -6px -6px 12px rgba(255, 255, 255, 0.1);
}
.post-list h4{
    margin-top: 15px;
    font-family: 'Times';
    font-weight: 700;
    color: #202020;
}
.post-list h5{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.post-list p{
    font-family: 'Times New Roman', Times, serif;
}

/*social media buttons in carrds*/
.social-container{
    margin-bottom: 15px;
}
.social-btns-1{
    font-size: 35px;
    margin: 15px;
    font-size: 35px;
    margin: 15px;
}
.social-btns-1 i{
    color: #8a8a90;
    transition: 0.5s;
}
.fa-facebook:hover{
    color: #4267b2;
    transform: scale(1.3);
}
.fa-twitter:hover{
    color: #1da1f2;
    transform: scale(1.3);
}
.fa-linkedin-in:hover{
    color: #0077b5;
    transform: scale(1.3);
}
.fa-github:hover{
    color: #24292e;
    transform: scale(1.3);
}
/*Read more btns*/
.read-more{
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background-color: #e62f11;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.read-more span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
}
.read-more span a{
    text-decoration: none;
    color: white;
}
.read-more span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.read-more:hover span{
    padding-right: 15px;
}
.read-more:hover span:after{
    opacity: 1;
    right: 0;
}
/*End raed more btns*/

/*About me*/
#about-section{
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    position: relative;
}
.about-parag{
    width: 70%;
    margin: auto;
}
#about-section h1{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}
#about-section p{
    text-align: center;
    font-size: 17px;
    color: #202020;
}
/*end about me section*/

/*Start footer styling*/
.footer{
    background: #202020;
    margin: 0;
    padding: 25px;
    margin-top: 35px;
    color: white;
}
.txt-footer{
    width: 450px;
    text-align: left;
    position: absolute;
    margin: 0;
}
.txt-footer h5{
    text-align: left;
    font-size: 35px;
    margin-bottom: 25px;
    /*border-bottom: 1px solid;*/
    text-decoration: underline;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.txt-footer p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.contact-form-container{
    width: 450px;
    margin-left: 65%;
    position: relative;
}
.contact-form{
    
}